<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dependencies/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dependencies/jackedup.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/ChatView/base.css">
    <link rel="stylesheet" href="/styles/ChatView/message.css">
    <link rel="stylesheet" href="/styles/ChatView/user.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="container">
      <%- body %>
    </div>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/dependencies/jquery-1.12.4.min.js"></script>
    <script src="/js/dependencies/backbone-min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/humane.min.js"></script>
    <script src="/js/App.js"></script>
    <script src="/js/models/MessageModel.js"></script>
    <script src="/js/models/UserModel.js"></script>
    <script src="/js/views/ChatView.js"></script>
    <script src="/js/views/SignInView.js"></script>
    <script src="/js/views/SignUpView.js"></script>
    <script src="/js/collections/MessagesCollection.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
