<div class="row">
  <div class="col-sm-3">
    <div class="chat-view-section chat-view-section--separated">
      <div class="chat-view-section__heading">Users</div>
      <div class="chat-view-user">doge</div>
      <div class="chat-view-user">catz</div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="chat-view-section chat-view-section--separated">
      <div class="chat-view-section__heading">Messages</div>
      <div class="chat-view-message">
        <div class="chat-view-message__ts">2016-10-26 - 11:16:16</div>
        <div class="chat-view-message__author">doge</div>
        <div class="chat-view-message">Yo pals, how is it going</div>
      </div>
      <div class="chat-view-message">
        <div class="chat-view-message__ts">2016-10-26 - 11:14:13</div>
        <div class="chat-view-message__author">cat</div>
        <div class="chat-view-message">Fuck ya doge! Catz don like dogez</div>
      </div>
      <div class="chat-view-message">
        <div class="chat-view-message__ts">2016-10-26 - 11:14:34</div>
        <div class="chat-view-message__author">doge</div>
        <div class="chat-view-message">Wutcha said beyotch!?</div>
      </div>
    </div>

    <div class="chat-view-section">
      <div class="chat-view-new-message">
        <textarea rows="5" class="chat-view-new-message__input" placeholder="Write your message here..."></textarea>
        <div class="chat-view-new-message__btn">
          <button class="btn btn-success btn-md" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
