<div class="chat-view">
  <div class="chat-view__upper-panel">
    <div class="chat-view__messages" data-messages-wrap>
      <div class="chat-view__heading">Messages</div>
      <div data-messages>
        <img src="/images/loading.gif" alt="Loading..." class="processing">
      </div>
    </div>
    <div class="chat-view__users">
      <div class="chat-view__heading">Users</div>
      <div data-users>
        <img src="/images/loading.gif" alt="Loading..." class="processing">
      </div>
    </div>
  </div>

  <div class="chat-view__bottom-panel">
    <textarea rows="5" class="chat-view__input" data-message
              placeholder="Write your message here..."></textarea>
    <div class="chat-view__send-btn">
      <button class="btn btn-success btn-md" type="button" data-send>Send</button>
    </div>
  </div>
</div>
