/* Message module
--------------------------------------------------------- */
.chat-view-message {
  display: block;
  padding: 10px 12px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.chat-view-message:last-child {
  border-bottom: none;
}

.chat-view-message:after {
  content: ' ';
  display: block;
  clear: both;
}

.chat-view-message__heading {
  opacity: 0.6;
  margin-bottom: 2px;
}

.chat-view-message__author {
  font-weight: bold;
}

.chat-view-message__text {

}
