/* New message module
--------------------------------------------------------- */
.chat-view-new-message {
  margin-top: 20px;
}

.chat-view-new-message__input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 4px 8px;
}

.chat-view-new-message__btn {
  margin-top: 10px;
}
