/* User module
--------------------------------------------------------- */
.chat-view-people {
  display: block;
  padding: 2px 10px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  font-weight: bold;
}

.chat-view-people:last-child {
  border-bottom: none;
}
